.logo-wrap {
  padding: 16px 0 12px 0;
  border-bottom: solid 1px #979797;
  text-align: center;
  z-index: 1;
  position: relative;
}

.logo {
  height: 48px;
  width: auto;

  //clear: both;
  //display: block;
  //margin: auto;
}

.chevronBack {
  z-index: 10;
  position: relative;
  float: left;
  padding: 16px 26px 18px 26px;
}

.clear:before,
.clear:after {
  clear: both;
  display: table;
  content: '';
}

.relative {
  position: relative;
}