@import 'slick-theme';
@import 'slick';

$content-color: #3D3D3D !default;
$highlight-color: #1eaedb !default;
$line-height: 24px !default;

.reference {
  font-style: italic;
  color: darken($content-color, 20%);
  transition: all 200ms linear;
  &:hover {
    color: $highlight-color;
    transition: all 200ms linear;
  }
}

// ***************   titlePage   **************** \\

.theEnterPoint .titleHero>.hero{
  display: inline-block;
  &:nth-child(2) {
    margin-left: 10px;
  }
}

.theEnterPoint .titleHero>.hero>img {
  height: 300px;
}

.theEnterPoint .titleHero {
  height: 300px;
}

.we, .toy, .itk, .ct, .live, .xdj, .memory, .wdc, .cc{
  position: relative;
}

.theEnterPoint .title {
  /* Whisper Effect: */
  font-size: 72px;
  font-weight: 600;
  font-style: italic;
  color: #FFFFFF;
  line-height: 72px;

  position: relative;
  bottom: 4.5px;
}

.theEnterPoint .subTitle {
  /* Use your body to lis: */
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  color: #888888;
  line-height: 26px;
  position: relative;
  left: 24px;
}

.theEnterPoint .titleBackground {
  float: left;
  padding: 14px 120px 0 24px;
  background-color: #757575;
}

.xdj .titleBackground {
  padding: 14px 32px 0 24px;
}

.theEnterPoint .whiteFrame {
  position: absolute;

  display: table;
  left: 48px - 16px;
  top: 300px - 64px;
  padding: 16px;

  background-color: #FFFFFF;
}

.theEnterPoint .titleSpace {
  margin-bottom: 24px;

}









// *****************    Columns Page   ***************** \\

$column-gap: 40px !default;

.theEnterPoint .halfPage {
  width: 50%;
}

.theEnterPoint .fullPage {
  width: 100%
}

.theEnterPoint .content {
  font-size: 14.83px;
  font-weight: 200;
  /* space within a publi: */
  color: $content-color;
  line-height: $line-height;
  text-align: left;

  display: table;
  margin-top: 14px + 16px + 26px + 72px - 64px;
}

.theEnterPoint .paragraph {
  text-indent: 18px;
  margin-bottom: $line-height / 2;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 18px;
    text-indent: 0;
    margin-bottom: 0;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 4px;
      list-style: none;
      display: block;
      text-indent: 12px;
    }
  }
}

.theEnterPoint .xdj .columnsPage {
  .container {
    width: 95%;
  }
  .paragraph {
    &:last-child {
      margin-bottom: 64px;
    }
  }

}

.theEnterPoint .columnRight {
  float: right;
  padding-left: $column-gap / 2;
}

.theEnterPoint .twoColumnCount {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

.theEnterPoint .fourColumnCount {
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
}

.theEnterPoint .container {

  column-gap: $column-gap;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;

}

.theEnterPoint .row  {
  width: 100%;
}

.theEnterPoint .row img{
  width: 100%;

}

.theEnterPoint .row .content {
  margin-top: 24px;
}



// ******************* image with text page *****************
//.theEnterPoint .imageTextSpace {
//  padding-right: 64px;
//  position: absolute;
//  bottom: 0;
//}

.imageWithTextPage {
  .inlineColumn {
    display: inline-block;
    .textFrame {
      padding-left: 64px;
    }
  }
}

.theEnterPoint {

  .four.columns {

    img {

      width: auto;
      height: 480px;
      &:after {
        clear: both;
        display: table;
      }
    }
  }

  .textToBottom {
    width: 90%;
    position: absolute;
    left: 120%;
    bottom: 20%;
    &:after {
      clear: both;
      display: block;
      content: ' ';
    }
  }
}