@import 'slick-theme';
@import 'slick';
@import './base/variables';

$content-color: #3D3D3D !default;
$highlight-color: #1eaedb !default;
$line-height: 24px !default;

.reference {
  font-style: italic;
  color: darken($content-color, 20%);
  transition: all 200ms linear;
  &:hover {
    color: $highlight-color;
    transition: all 200ms linear;
  }
}

// ***************   titlePage   **************** \\
.we, .toy, .itk, .ct, .live, .xdj, .memory, .wdc, .cc{
  position: relative;
}

.titlePage {
  .titleHero {
    height: 300px;
  }
  .titleHero>.hero {
    display: inline-block;
    &:nth-child(2) {
      margin-left: 10px;
    }
    img {
      height: 300px;
    }
  }

  .whiteFrame {
    position: absolute;

    display: table;
    left: 48px - 16px;
    top: 300px - 64px;
    padding: 16px;
    background-color: #FFFFFF;

    .titleBackground {
      .title {
        font-size: 72px;
        line-height: 72px;
      }
    }
  }

  .text {
    margin-top: 14px + 16px + 26px + 72px - 64px + 24px;
  }
}

.xdj .titleBackground {
  padding: 14px 32px 0 24px;
}

// ******************* Title share ******************

.theEnterPoint {
  .titleBackground {
    float: left;
    padding: 14px 120px 0 24px;
    background-color: #757575;

    .title {
      font-weight: 600;
      font-style: italic;
      color: #FFFFFF;
      position: relative;
      bottom: 4.5px;
    }
  }

  .subTitle {
    /* Use your body to lis: */
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #888888;
    line-height: 25px;
    height: 25px;
    position: relative;
    left: 24px;
  }
}

// *************** Section Title *****************
.sectionTitle {
  margin-bottom: 32px;
  .title {
    font-size: 64px;
    line-height: 64px;
  }
}



// *****************    Columns Page   ***************** \\

$column-gap: 40px !default;

.theEnterPoint .halfPage {
  width: 50%;
}

.theEnterPoint .fullPage {
  width: 100%
}



.theEnterPoint .content {
  font-size: 14.83px;
  font-weight: 200;
  //height: inherit;
  color: $content-color;
  line-height: $line-height;
  text-align: left;

  .paragraph {
    text-indent: 18px;
    margin-bottom: $line-height / 2;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      text-indent: 0;
      margin-bottom: 0;
      margin-top: 24px;
      color: $content-color;
    }
    h3.startLine {
      margin-top: 0;
    }
    b {
      color: lighten($content-color, 30%);
      font-style: italic;
      line-height: $line-height / 2;
    }
    b.secondary {
      font-weight: 400;
      font-style: normal;
      color: lighten($content-color, 20%);
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 2px;
        list-style: none;
        display: block;
        text-indent: 12px;
        font-style: italic;
      }
    }
  }
}

.theEnterPoint .columnRight {
  float: right;
  padding-left: $column-gap / 2;
}

.theEnterPoint .twoColumnCount {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

.theEnterPoint .fourColumnCount {
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
}

.theEnterPoint .container {

  column-gap: $column-gap;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;

}

.theEnterPoint .row  {
  width: 100%;
  img {
    width: 100%;
  }
  .three.columns {
    .content {
      margin-top: 24px;
    }
  }

}

.xdj .columnsPage {
  .container {
    width: 95%;
  }
  .paragraph {
    &:last-child {
      margin-bottom: 64px;
    }
  }

}



// ******************* image with text page *****************
//.theEnterPoint .imageTextSpace {
//  padding-right: 64px;
//  position: absolute;
//  bottom: 0;
//}

.imageWithTextPage {
  margin-bottom: -1px;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  .inlineColumn {
    display: inline-block;
    .textFrame {
      margin-top: 42px;

    }

    @media (#{$bp-larger-than-phablet}) {
      .textFrame {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;

        column-gap: 24px;
        -webkit-column-gap: 24px;
        -moz-column-gap: 24px;
      }
    }

    @media (#{$bp-larger-than-desktop}) {
      .textFrame {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;

        margin-top: 0;
        padding-left: 64px;
        max-width: 476px;
      }
    }
  }
}


.theEnterPoint {
    .image-frame {
      position: relative;
      float: left;
      width: auto;
      img {
      }
      .textToBottom {
        max-width: 500px;
        width: 100%;
        margin-top: 24px;
      }
    }

  @media (#{$bp-larger-than-desktop}) {
    .image-frame {
      .textToBottom {
        max-width: 400px;
        position: absolute;
        width: 70%;
        left: 110%;
        bottom: 10%;
      }
    }

  }

  @media (#{$bp-larger-than-desktophd}) {
    .image-frame {

      img {
      }
      .textToBottom {
        max-width: 500px;
        min-width: 300px;
        width: 90%;
        left: 120%;
        &:after {
          clear: both;
          display: block;
          content: ' ';
        }
      }
    }

  }
}