#portfolio {
  padding: 0 100px;
}

#portfolioContainer {
  padding-top: 64px;
}


#pageCounter {
  float: right;
  position: relative;
  left: 34px;
  top: 64px - 16px;
}

.pageCounter {
  /* 1 / 9: */
  font-size: 16px;
  font-weight: 600;
  color: #4A4A4A;
  line-height: 16px;
}


.pageUp {
  position: relative;
  right: 14px;
  text-align: left;
  float: left;
}

.pageDown {
  position: relative;
  left: 14px;
  text-align: right;
  float: right;
}

.pageUp a, .pageDown a {
  color: #4A4A4A;
  transition: all 200ms linear;
  &:hover {
    color: #1eaedb;
    transition: all 200ms linear;
  }
}

.pageChange {
  width: 100%;
  margin-top: 36px;
}

.bottomChevron,
.linkText {
  display: inline-block;
}

.linkText{
  /* Previous: */
  font-size: 24px;
  letter-spacing: -0.3px;
  font-weight: 600;
  text-shadow: 0 1px 0 #FFFFFF;
  line-height: 42px;
  position: relative;
  top: 4.5px;
}










#pfooter {
  position: relative;
  width: auto;
  margin-top: 36px;
  height: 24px;
  background-color: #F5F5F5;
  overflow: hidden;
  transition: all 200ms linear;

  &:hover{
    margin-top: 36px + 24px - 56px;
    height: 56px;
    transition: all 200ms linear;
  }
}

#pfooter .social-media {
  position: absolute;
  right: 50%;
  margin-right: -76px;
  bottom: 26px;
  line-height: 20px;
  padding-top: 0;
  text-align: center;
}

#pfooter .social-media ul {
  height: 20px;
}

#pfooter .social-media ul li{
  color: #636363;
  margin-bottom: 0;
}

#pfooter .social-media ul a:first-child li {
  margin-left: 0;
}




.copyright {

  font-size: 14px;
  color: #A3A3A3;
  line-height: 14px;

  position: absolute;
  right: 50%;
  margin-right: -113px;
  bottom: 4px;
}