@import "./base/variables";

#portfolio {
  padding: 0 50px;
}

@media (#{$bp-larger-than-desktophd}) {
  #portfolio {
    padding: 0 100px;
  }
}

#portfolioContainer {
  padding-top: 64px;
}


#pageCounter {
  float: right;
  position: relative;
  left: 34px;
  top: 64px - 16px;
}

.pageCounter {
  /* 1 / 9: */
  font-size: 16px;
  font-weight: 600;
  color: #4A4A4A;
  line-height: 16px;
}


.pageUp {
  position: relative;
  right: 14px;
  text-align: left;
  float: left;
}

.pageDown {
  position: relative;
  left: 14px;
  text-align: right;
  float: right;
}

.pageUp a, .pageDown a {
  color: #4A4A4A;
  transition: all 200ms linear;
  &:hover {
    color: #1eaedb;
    transition: all 200ms linear;
  }
}

.pageChange {
  width: 100%;
  margin-top: 36px;
}

.bottomChevron,
.linkText {
  display: inline-block;
}

.linkText{
  /* Previous: */
  font-size: 24px;
  letter-spacing: -0.3px;
  font-weight: 600;
  text-shadow: 0 1px 0 #FFFFFF;
  line-height: 42px;
  position: relative;
  top: 4.5px;
}